.Timer_wrapper {
  display: flex;
  justify-content: space-around;
  min-width: 90px;
  flex-wrap: wrap;
  font-weight: 600;
  font-size: 18px;
}

.Timer_button {
  padding: 10px 20px 10px 20px;
  background-color: blue;
  border: 1px solid black;
  cursor: pointer;
}

.Timer_counter {
  margin: 10px;
}

.Timer_value {
  margin-bottom: 20px;
  width: 100%;
  padding: 11px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
